{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="border border-secondary 2px solid ">
 <h2 class="text-center">CATEGORIES</h2>

   <!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        {% for i in category %}
        <li class="text-center">
            <img src="{{ i.image.url }}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Freshshop</strong></h1>
                        <p class="m-b-40">
                            See how your users experience your website in realtime or view
                            trends to see any changes in performance over time.
                        </p>
                        <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>

     <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Our Collections</h1>
                        <p class="text-align:justify;line-height:2.5, font-size:20px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
   <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
              {% for i in category %}
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img  src="{{ i.image.url }}" alt="" style="height: 250px; width: 150%;"/>
                        <a class="btn hvr-hover" href="{% url 'shop:products'  i.id %}">{{i.name}}</a>
                    </div>
                </div>
             {% endfor %}
                </div>
        </div>
    </div>
        </div> </div> </div>
{% endblock %}